p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 175%;
    color: white;
}

html{
    background-color: red;
}

h1{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 200%;
}